---
import PokemonIsland from '@components/PokemonIsland.astro'
import Header from '@components/Header.astro';
import BannerOne from '@components/BannerOne.astro';
import Footer from '@components/Footer.astro';
import BannerTwo from '@components/BannerTwo.astro';
import BannerThree from '@components/BannerThree.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pokemons</title>
	</head>
	<body >
        <Header/>
        <BannerOne/>
        <BannerTwo/>
        <BannerThree/>
        <PokemonIsland server:defer >
            <div slot="fallback" class="h-[1084px] w-full flex items-center justify-center">LOADING...</div>
        </PokemonIsland>
        <Footer/>
    </div>
	</body>
</html>
