---
import PrimaryButton from "./PrimaryButton.astro"
import SecondaryButton from "./SecondaryButton.astro"
---
<div class="w-full h-10 mt-10 px-[130px] flex justify-between items-center">
    <h1 class="text-primary text-5xl font-semibold">Pokemons</h1>
    <div class="flex gap-10">
        <div class="font-semibold">Home</div>
        <div class="text-gray-500">Product</div>
        <div class="text-gray-500">FAQ</div>
        <div class="text-gray-500">Blog</div>
        <div class="text-gray-500">About Us</div>
    </div>
    <div><SecondaryButton text="Login" /> <PrimaryButton text="Signup" /></div>
</div>